.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #323334;
    color: white;
    gap: 20px;
}
.topDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    
}
.foodOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#search{
    background-color: #323334;
    border: 1px solid #FF4343;
    border-radius: 5px;
    padding: 5px;
    width: 285px;
    color: white;
}
.o{
    color: #FF4343;
}
.button{
    padding: 5px;
    min-width: 50px;
    border-radius: 10px;
    background-color: red;
}
.button.active{
    background-color: green;
}
@media only screen and (max-width:900px){
    .topDiv{
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (max-width:500px){
    .topDiv {
        margin: 0 1rem;
        
    }
    #search{
        width: 230px;
    }
}